body{
			font-family: 'Poppins',sans-serif;
			text-align: center;
			background: deeppink;
		}
		 tr,td{
            border: 2px solid grey;
            width: 180px;
            background-color: white;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            color: deeppink;   
        }
        a{
         color: black;
            text-decoration: none;
            font-weight: bold;
            font-size: 120%; 
        }
        th{
        border: 2px solid grey;	
        }
        h1.sec{
        	font-weight: bold;
            color: white;
        }
        a.ico{
        	color: black;
        	text-decoration: none;
        	font-weight: bold;
        	font-size: 240%;
        	margin: 6%;
        }
        button.del{
            color: deeppink;
            font-weight: bold;
            border: none;
            background-color: white;
        }
        a.sec{
        	color: #e91e63;
        	text-decoration: none;
        	font-size: 130%;
        	margin: 3%;
            font-weight: bold;
        }
        .center{
        	margin-left: 10%;
        }


@media screen and (max-width: 800px) {
    body{
            font-family:'Poppins', sans-serif;
            text-align: center;
            background: pink;
        }
	.center{
        	margin-left: 1%;
        }
        a.ico{
        	color: black;
        	text-decoration: none;
        	font-weight: bold;
        	font-size: 180%;
        	margin: 5%;
        }
        a.sec{
        	color: #e91e63;
        	text-decoration: none;
        	font-size: 100%;
        	margin: 1%;
            font-weight: bold;
        }
        tr,td{
            border: 2px solid grey;
            width: 150px;
            background-color: white;
            font-family:'Poppins', sans-serif;
            font-weight: bold; 
            font-size: 90%;  
        }
	}